node_modules
dist

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

.pytest_cache
.vscode
.idea
.env
.env.test
.env.prod
.env.staging

*.log
*.pid

*.pyc
**/__pycache__/

**/dev.db.queries.sql
**/*.sqlite3
notes.txt

.DS_Store
