{
  "branches": [
    "main"
  ],
  "repositoryUrl": "https://github.com/nanacnote/diaryofapolymath.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "message": "chore(release): ${nextRelease.version} [skip ci]"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "successCmd": "export NEXT_RELEASE_VERSION=${nextRelease.version}"
      }
    ]
  ]
}
