[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1"
gunicorn = "~=20.1"
readtime = "~=2.0"

[dev-packages]
black = "*"
django-debug-toolbar = "*"
factory-boy = "*"
flake8-pyproject = "*"
isort = "*"
pre-commit = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-xdist = "*"

[requires]
python_version = "3.9"
