<section>
    <hr/>
    <div style="display:flex; flex-wrap: wrap;">
      <span>
        © {% now "Y" %} | 
        <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="noopener noreferrer"> CC0 1.0 Universal</a>
      </span>
      <span style="flex: 1; padding: 1em 0;"></span>
      <span>
        <a href="https://github.com/nanacnote/diaryofapolymath" target="_blank" rel="noopener noreferrer">Codebase</a> |
        Powered by <a href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer">django</a>
      </span>

    </div>
    <hr style="opacity: 0; margin-bottom: 0;"/>
</section>