{% extends "base/index.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<section class="components-grid show-aside" style="margin-top: 5em;">
  <main>
    <div id="title-banner">Blog</div>
    {% for post in posts %}
      <div id="{{ post.slug }}">
        <h1>{{ post.title }}</h1>
          {% include "blog/partials/post_stats.html" %}
          <p style="color: var(--secondary-color); text-align: justify;">{{ post.abstract}}</p>
          {% include "blog/partials/post_tags.html" %}
          <div>
            <a class="no-hover-bg btn btn-default btn-ghost" style="margin-top: 1em;" href="{% url 'blog:post' post.slug %}">Read More</a>
          </div>
      </div>
      {% if not forloop.last %}
        <hr/>
      {% endif %}
    {% endfor %}
  </main>
  {% include "blog/partials/aside_menu.html" %}
</section>
{% endblock %}