{% extends "base/base.html" %}

{% block title %}Blog | {{ post.title }}{% endblock %}

{% block content %}
  <div>
    <h1>
      <span>{{ post.title }}</span>
      <span style="color: var(--secondary-color);"> | </span>
      <span style="color: var(--secondary-color);">{{ post.subtitle }}</span> </h1>
    <p style="color: var(--secondary-color);">{{ post.published_on|date:"F Y" }}</p>
    {% for tag in post.tags.all %}
      <a href="{% url 'blog:tag' tag.name|slugify %}">{{ tag.name }}</a>
      {% if not forloop.last %} • {% endif %}
    {% endfor %}
    <div style="margin-top: 1em; text-align: justify;">{{post.body}}</div>
    <div style="display:flex; flex-wrap: wrap; margin-top: 2em;">
      <span>
        {% if post.title != prev.title %}
          <a class="no-hover-bg btn btn-default btn-ghost" style="text-align: center; width: 175px;" href="{% url 'blog:post' prev.slug %}">
            Previous
            </br><br/>
            {{prev.title|truncatechars:12}}
          </a>
        {% endif %}
      </span>
      <span style="flex: 1; padding: 1em 0;"></span>
      <span>
        {% if post.title != next.title %}
          <a class="no-hover-bg btn btn-default btn-ghost" style="text-align: center; width: 175px;" href="{% url 'blog:post' next.slug %}">
              Next
              <br/><br/>
              {{next.title|truncatechars:12}}
          </a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}