{% extends "base/index.html" %}

{% block meta_description %}{{ post.meta_description }}{% endblock %}
{% block og_title %}{{ post.title }}{% endblock %}
{% block og_description %}{{ post.subtitle }}{% endblock %}
{% block og_image %}{{ post.image_src_url }}{% endblock %}

{% block head %}
  <title>{{ copy.nav_blog }} | {{ post.title }}</title>
{% endblock %}

{% block content %}
<section class="components-grid show-aside" style="margin-top: 5em;">
  <div id="title-banner"></div>
  <main>
    <div>
      <h1>
        <span>{{ post.title }}</span>
        <span style="color: var(--secondary-color);"> | </span>
        <span style="color: var(--secondary-color);">{{ post.subtitle }}</span>
      </h1>

      <div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; gap: 1em; margin: 0 0 1em 0">
        <div>{% include "blog/partials/post_stats.html" %}</div>
        <div>{% include "blog/partials/post_cta.html" %}</div>
      </div>
      {% include "blog/partials/post_tags.html" %}

      <div style="margin: 2em 1em;">
        <span style="color: var(--secondary-color); font-style: italic;">{{ post.abstract}}</span>
      </div>

      {% if post.image_src_url %}
      <div style="margin: 0 0 2em 0;">
        <img src="{{ post.image_src_url }}" alt="{{ post.title }}" style="width: 100%; max-height: 300px; object-fit: cover; display: block; border-radius: 0.25em;">
      </div>
      {% endif %}

      <div style="text-align: justify;" data-controller="content-parser">
        {{ post.body }}
      </div>

      <div style="display: flex; flex-wrap: wrap; gap: 1rem; margin-top: 2em;">
        <span style="display: flex; flex: 1 1 0; min-width: min(275px, 100%);">
          {% if prev %}
            <a class="no-hover-bg btn btn-default btn-ghost" style="display: flex; flex-direction: column; text-align: center; width: 100%;" href="{% url 'blog:post' prev.slug %}">
              <strong>Previous</strong>
              <span>{{ prev.title|truncatechars:20 }}</span>
            </a>
          {% endif %}
        </span>
        <span style="display: flex; flex: 1 1 0; min-width: min(275px, 100%);">
          {% if next %}
            <a class="no-hover-bg btn btn-default btn-ghost" style="display: flex; flex-direction: column; text-align: center; width: 100%;" href="{% url 'blog:post' next.slug %}">
              <strong>Next</strong>
              <span>{{ next.title|truncatechars:20 }}</span>
            </a>
          {% endif %}
        </span>
      </div>
    </div>
  </main>
  {% include "blog/partials/aside_menu.html" %}
</section>
{% endblock %}
