{% extends "base/base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
  {% for post in posts %}
  <div>
    <h1>{{ post.title }}</h1>
      <p style="color: var(--secondary-color);">{{ post.published_on|date:"F Y" }}</p>
      <p style="color: var(--secondary-color); text-align: justify;">{{ post.abstract}}</p>
      {% for tag in post.tags.all %}
        <a href="{% url 'blog:tag' tag.name|slugify %}">{{ tag.name }}</a>
        {% if not forloop.last %} • {% endif %}
      {% endfor %}
      <div>
        <a class="no-hover-bg btn btn-default btn-ghost" style="margin-top: 1em;" href="{% url 'blog:post' post.slug %}">Read More</a>
      </div>
  </div>
  {% if not forloop.last %}
    <hr/>
  {% endif %}
  {% endfor %}
{% endblock %}