.components-grid {
  display: grid;
  grid-column-gap: 3.5em;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.components-grid main {
  min-width: 0;
  max-width: 100%;
  overflow-x: auto;
}
@media only screen and (min-width: 40em) {
  .components-grid.show-aside {
    grid-template-columns: 9fr 3fr;
  }
}
.components-grid aside {
  display: none;
}
.components-grid.show-aside aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.components-grid.show-aside aside div {
  min-height: 10em;
  width: 100%;
}
.components-grid.show-aside aside div:nth-child(n + 2) {
  margin-top: 2.5em;
}
@media only screen and (max-width: 40em) {
  .components-grid.show-aside aside {
    flex-direction: row;
    align-items: flex-start;
  }
  .components-grid.show-aside aside div {
    margin-top: 2.5em;
    margin-right: 1.5em;
  }
}
.btn-rounded-icon {
  padding: 2.5px;
  border-radius: 50%;
  border-width: 1px;
}
#title-banner {
  position: absolute;
  top: 90px;
  opacity: 0.075;
  font-weight: 800;
  font-size: 2em;
  letter-spacing: 7.5px;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 40em) {
  #title-banner {
    top: 215px;
  }
}
#theme-switch-light a::before {
  content: "🌝";
  font-size: 1.25em;
  cursor: pointer;
}
#theme-switch-dark a::before {
  content: "🌚";
  font-size: 1.25em;
  cursor: pointer;
}
