{% load static %}
{% with base_route_var=request.resolver_match.route %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/normalize.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/jquery-ui.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/jquery-ui-1.12.icon-font.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/terminal.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/theme.css' %}" />
    <script type="text/javascript" src="{% static 'base/js/jquery/jquery.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'base/js/jquery/jquery-ui.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'base/js/dist/index.iife.js' %}" defer></script>
    <!-- TODO: implement detailed head -->
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="terminal container container-fluid">
    <section>
      <div class="terminal-nav">
        <div class="terminal-logo">
          <div class="logo terminal-prompt"><a href="{% url 'about:index' %}" class="no-style">Diary of a Polymath</a></div>
        </div>
        <nav class="terminal-menu">
          <ul>
            <li><a class="{% if 'about/' in base_route_var %} active {% endif %}" href="{% url 'about:index' %}">About</a></li>
            <li><a class="{% if 'blog/' in base_route_var %} active {% endif %}" href="{% url 'blog:index' %}">Blog</a></li>
            <li><a class="{% if 'exclusive/' in base_route_var %} active {% endif %}" href="{% url 'exclusive:index' %}">Exclusive</a></li>
            <li id="theme-switch" data-controller="theme">
              <input id="theme-switch-input" type="checkbox" data-action="change->theme#toggle" />
              <label for="theme-switch-input"></label>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <section class="components-grid {% if 'blog/' in base_route_var %} show-aside {% endif %}" style="margin-top: 5em;">
      <main>
        {% autoescape off %}
        {% block content %}
          <div id="title-banner">{{ title_banner }}</div>
        {% endblock %}
        {% endautoescape %}
      </main>
      <aside>
        <div style="position: sticky; top: 25px;">
          <div>
            <h1>Pinned</h1>
            <!-- Todo: add image src -->
            <img style="border-radius: 0.25em;" width="205px" height="auto" alt="image of sponsor" src="https://picsum.photos/205/205">
          </div>
          <div>
            <h1>Tags</h1>
            <ul>
              {% for tag in tags %}
                <li><a href="{% url 'blog:tag' tag.name|slugify %}">{{ tag.name }}</a></li>
              {% endfor%}
            </ul>
          </div>
          <div>
            <h1>Archive</h1>
            <ul>
              {% for archive in archives %}
                <li><a href="{% url 'blog:archive' archive.0 %}">{{ archive.0 }} ({{ archive.1 }})</a></li>
              {% endfor%}
            </ul>
          </div>
        </div>
      </aside>
    </section>
    <section>
      <hr/>
      <div style="display:flex; flex-wrap: wrap;">
        <span>
          © {% now "Y" %} | 
          <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="noopener noreferrer"> CC0 1.0 Universal</a>
        </span>
        <span style="flex: 1; padding: 1em 0;"></span>
        <span>
          <a href="https://github.com/nanacnote/diaryofapolymath" target="_blank" rel="noopener noreferrer">Codebase</a> |
          Powered by <a href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer">django</a>
        </span>

      </div>
      <hr style="opacity: 0; margin-bottom: 0;"/>
    </section>
  </body>
</html>
{% endwith %}