{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/normalize.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/jquery-ui.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/jquery-ui-1.12.icon-font.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/material-icons.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/terminal.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/theme.css' %}" />
    <script type="text/javascript" src="{% static 'base/js/vendors/jquery/jquery.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'base/js/vendors/jquery/jquery-ui.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'base/js/dist/index.iife.js' %}" defer></script>
    <!-- TODO: implement detailed head with manifest comment out unused styles -->
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="terminal container container-fluid">
    {% include "base/partials/navbar.html" %}
    {% block content %}{% endblock %}
    {% include "base/partials/footer.html" %}
  </body>
</html>