<div>
    <a
        class="btn btn-rounded-icon"
        href="#"
        title="{{ copy.common_like }}"
    >
        <span class="material-symbols-rounded material-icon-like" style="font-size: 12px;"></span>
    </a>
    <a
        class="btn btn-rounded-icon"
        href="#post-comment-section"
        title="{{ copy.common_comment }}"
    >
        <span class="material-symbols-rounded material-icon-comment" style="font-size: 12px;"></span>
    </a>
    <a
        class="btn btn-rounded-icon"
        href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
        target="_blank"
        rel="noopener noreferrer"
        title="{{ copy.common_shared_by }} Facebook"
    >
        <span class="icomoon-symbols icomoon-facebook" style="font-size: 12px;"></span>
    </a>
    <a
        class="btn btn-rounded-icon"
        href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri|urlencode }}"
        target="_blank"
        rel="noopener noreferrer"
        title="{{ copy.common_shared_by }} LinkedIn"
    >
        <span class="icomoon-symbols icomoon-linkedin" style="font-size: 12px;"></span>
    </a>
    <a
        class="btn btn-rounded-icon"
        href="https://x.com/intent/tweet?url={{ request.build_absolute_uri|urlencode }}&text={{ post.title|urlencode }}"
        target="_blank"
        rel="noopener noreferrer"
        title="{{ copy.common_shared_by }} X"
    >
        <span class="icomoon-symbols icomoon-x" style="font-size: 12px;"></span>
    </a>
    <a
        class="btn btn-rounded-icon"
        type="button"
        onclick="navigator.clipboard.writeText('{{ request.build_absolute_uri }}');"
        title="{{ copy.common_copy_link }}"
    >
        <span class="material-symbols-rounded material-icon-content-copy" style="font-size: 12px;"></span>
    </a>
</div>
